name: "PUBLISH"

on:
  schedule:
    - cron: "0 8 * * *"
  workflow_dispatch:
    inputs:
      ref:
        type: string
        description: "[ref] e.g. branch, tag or commit to checkout [default: github.ref_name || github.head_ref ]"
        required: false

jobs:
  publish_node:
    name: "Node Update & Test & Publish"
    uses: YunaBraska/YunaBraska/.github/workflows/wc_node_publish.yml@main
    with:
      ref: ${{ inputs.ref || github.ref_name || github.head_ref }}
      mastodon_suffix: '#GitHubActions #git #workflow #github #githubactions #githubaction @github'
    secrets:
      CI_WORKFLOW_TOKEN: ${{ secrets.CI_TOKEN_WORKFLOW || secrets.CI_TOKEN || github.token }}
      CC_TEST_REPORTER_ID: ${{secrets.CC_TEST_REPORTER_ID}}
      MASTODON_ACCESS_TOKEN: ${{secrets.MASTODON_ACCESS_TOKEN}}
